html.dark {
  --van-button-default-color: var(--vant-FG-0);
  --van-button-default-background-color: transparent;
  --van-button-default-border-color: var(--vant-FG-0);
  --van-button-plain-background-color: transparent;
}