:root {
 --van-black: #000000FF;
 --van-active-opacity: 0.8;
 --van-gray-1: #323233FF;
 --van-gray-2: #646566FF;
 --van-gray-3: #969799FF;
 --van-gray-4: #c8c9ccFF;
 --van-gray-5: #dcdee0FF;
 --van-gray-6: #ebedf0FF;
 --van-gray-7: #f2f3f5FF;
 --van-gray-8: #f7f8faFF;
 --van-red: #fa5151FF;
 --van-blue: #10aeffFF;
 --van-orange: #c87d2fFF;
 --van-green: #07c160FF;
 --van-primary-color: #10aeffFF;
 --van-success-color: #07c160FF;
 --van-danger-color: #fa5151FF;
 --van-warning-color: #cc9c00FF;
 --van-white: #ffffffFF;
 --van-text-link-color: #7d90a9FF;
 --van-background-color: #111111FF;
 --van-background-color-light: #1e1e1eFF;
 --van-cell-background-color: #191919FF;
 --van-cell-group-background-color: #191919FF;
 --van-cell-value-color: #ffffff80;
 --van-cell-label-color: #ffffff80;
 --van-cell-active-color: #ffffff20;
 --van-cell-border-color: #ffffff1a;
 --van-cell-right-icon-color: #ffffff4d;
 --van-cell-group-title-color: #ffffff80;
 --van-button-default-background-color: #ffffff14;
 --van-button-default-border-color: #ffffff14;
 --van-button-default-color: #ffffffcc;
 --van-button-plain-background-color: #FFFFFF00;
 --van-popup-background-color: #1e1e1eFF;
 --van-popup-close-icon-color: #ffffffcc;
 --van-popup-close-icon-active-color: #FFFFFF80;
 --van-toast-background-color: rgba(64, 64, 64, 1);
 --van-calendar-background-color: #191919FF;
 --van-calendar-header-box-shadow: 0 2px 10px rgba(125, 126, 128, 0.16);
 --van-cascader-tab-color: #000000E5;
 --van-tabbar-background-color: #1e1e1eFF;
 --van-tabbar-item-active-color: #10aeffFF;
 --van-tabbar-item-active-background-color: #1e1e1eFF;
}