
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
.fr {
  float: right;
}
.fl {
  float: left;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: 500;
}
.text-primary {
  color: #c03131;
}
.text-text {
  color: #2e2f30;
}
.text-l {
  color: #797d82;
}
.text-ll {
  color: #bdc0c5;
}
.text-lll {
  color: #d2d6dc;
}
.text-aux-primary {
  color: #74a5e7;
}
.text-aux-success {
  color: #b8cb50;
}
.text-aux-danger {
  color: #ff8462;
}
.text-aux-warning {
  color: #fab646;
}
.text-aux-default {
  color: #baa27a;
}
.text-12 {
  font-size: 3.2vw;
}
.text-14 {
  font-size: 3.73333vw;
}
.text-16 {
  font-size: 4.26667vw;
}
.box-shadow {
  border-radius: 1.06667vw;
}
.box-shadow.base {
  box-shadow: 0 0.53333vw 1.06667vw rgba(0, 0, 0, 0.12), 0 0 1.6vw rgba(0, 0, 0, 0.04);
}
.box-shadow.light {
  box-shadow: 0 0.53333vw 3.2vw 0 rgba(0, 0, 0, 0.1);
}
.box-shadow.shadow-1-down {
  box-shadow: 0 1px 0.53333vw -0.53333vw rgba(0, 0, 0, 0.16), 0 0.8vw 1.6vw 0px rgba(0, 0, 0, 0.12), 0 1.33333vw 3.2vw 1.06667vw rgba(0, 0, 0, 0.09);
}
.box-shadow.shadow-2-down {
  box-shadow: 0 0.8vw 1.6vw -1.06667vw rgba(0, 0, 0, 0.12), 0 1.6vw 4.26667vw 0px rgba(0, 0, 0, 0.08), 0 2.4vw 7.46667vw 2.13333vw rgba(0, 0, 0, 0.05);
}
.box-shadow.shadow-3-down {
  box-shadow: 0 1.6vw 4.26667vw -2.13333vw rgba(0, 0, 0, 0.08), 0 2.4vw 7.46667vw 0px rgba(0, 0, 0, 0.05), 0 3.2vw 12.8vw 4.26667vw rgba(0, 0, 0, 0.03);
}
.bg-white {
  background-color: #fff;
}
.bg-primary {
  background-color: #c03131;
  color: #fff;
}
.bg-aux-primary {
  background-color: #74a5e7;
  color: #fff;
}
.bg-aux-success {
  background-color: #b8cb50;
  color: #fff;
}
.bg-aux-danger {
  background-color: #ff8462;
  color: #fff;
}
.bg-aux-warning {
  background-color: #fab646;
  color: #fff;
}
.bg-aux-default {
  background-color: #baa27a;
  color: #fff;
}
.tap-active {
  position: relative;
}
.tap-active::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #000;
  border: inherit;
  border-color: #000;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  opacity: 0;
  content: ' ';
}
.tap-active:active::before {
  opacity: 0.1;
}
/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
/*fade*/
/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.28s;
}
.fade-transform-enter {
  opacity: 0;
  transform: translateX(-8vw);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(8vw);
}
/*fade-transform*/
/*slide-left,slide-right*/
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(8vw, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-8vw, 0);
}
/*slide-left,slide-right*/
body {
  line-height: 1.5715;
  font-size: 3.73333vw;
  color: var(--vant-FG-0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--vant-BG-0);
}
label {
  font-weight: 400;
}
html {
  height: 100%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a:focus,
a:active {
  outline: none;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
div:focus {
  outline: none;
}
.error-page {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
.error-page .inner {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.error-page .inner .title {
  color: #434e59;
  font-size: 18.13333vw;
  font-weight: 600;
}
.error-page .inner .info {
  color: rgba(0, 0, 0, 0.45);
  font-size: 4.8vw;
  margin-bottom: 4.26667vw;
}
.divider-wrapper {
  padding: 4.26667vw 21.33333vw;
}
.main-container {
  margin-top: 16vw;
  padding: 0 2.66667vw;
}
.page-container {
  padding: 0 2.66667vw;
}
.page-container.padded {
  padding: 2.66667vw;
}
.cell-group-title {
  padding: 2.66667vw 4vw 1.6vw;
  color: #999;
  font-size: 3.73333vw;
}
.btn-wrapper {
  width: 100%;
  background-color: #fff;
}
.btn-wrapper.fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.btn-wrapper.padded {
  padding: 4.26667vw;
}
.btn-wrapper.padded-mini {
  padding: 2.13333vw 4.26667vw;
}
.btn-wrapper.tool-bar {
  background-color: #fff;
  padding: 2.13333vw;
  text-align: right;
}
.btn-wrapper .van-button + .van-button {
  margin-left: 2.13333vw;
}
.cell-container {
  background-color: #fff;
  margin: 0 2.66667vw;
}
.cell-container.cell-container {
  margin-top: 2.66667vw;
}
.cell-container .weui-cells:after,
.cell-container .weui-cells:before {
  border: 0;
}
code {
  border-radius: 1.06667vw;
  padding: 4.26667vw;
  position: relative;
  display: block;
  font-size: 3.2vw;
  font-weight: 400;
  overflow-x: auto;
  line-height: 5.86667vw;
  word-break: break-all;
  white-space: pre-wrap;
  color: #455a64;
  font-family: Consolas, Menlo, Courier, monospace;
  background: #f7f7f7;
}
code + code {
  margin-top: 3.2vw;
}
.block {
  height: 12.26667vw;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
:root {
  --vant-BG-0: #ededed;
  --vant-BG-1: #f7f7f7;
  --vant-BG-2: #fff;
  --vant-BG-3: #f7f7f7;
  --vant-BG-4: #4c4c4c;
  --vant-BG-5: #fff;
  --vant-FG-0: rgba(0, 0, 0, 0.9);
  --vant-FG-HALF: rgba(0, 0, 0, 0.9);
  --vant-FG-1: rgba(0, 0, 0, 0.5);
  --vant-FG-2: rgba(0, 0, 0, 0.3);
  --vant-FG-3: rgba(0, 0, 0, 0.1);
  --vant-FG-4: rgba(0, 0, 0, 0.15);
  --vant-RED: #fa5151;
  --vant-ORANGE: #fa9d3b;
  --vant-YELLOW: #ffc300;
  --vant-GREEN: #91d300;
  --vant-LIGHTGREEN: #95ec69;
  --vant-BRAND: #07c160;
  --vant-BLUE: #10aeff;
  --vant-INDIGO: #1485ee;
  --vant-PURPLE: #6467f0;
  --vant-WHITE: #fff;
  --vant-LINK: #576b95;
  --vant-TEXTGREEN: #06ae56;
  --vant-FG: #000;
  --vant-BG: #fff;
  --vant-TAG-TEXT-ORANGE: #fa9d3b;
  --vant-TAG-BACKGROUND-ORANGE: rgba(250, 157, 59, 0.1);
  --vant-TAG-TEXT-GREEN: #06ae56;
  --vant-TAG-BACKGROUND-GREEN: rgba(6, 174, 86, 0.1);
  --vant-TAG-TEXT-BLUE: #10aeff;
  --vant-TAG-BACKGROUND-BLUE: rgba(16, 174, 255, 0.1);
  --vant-TAG-TEXT-BLACK: rgba(0, 0, 0, 0.5);
  --vant-TAG-BACKGROUND-BLACK: rgba(0, 0, 0, 0.05);
}
html.dark {
  --vant-BG-0: #111;
  --vant-BG-1: #1e1e1e;
  --vant-BG-2: #191919;
  --vant-BG-3: #202020;
  --vant-BG-4: #404040;
  --vant-BG-5: #2c2c2c;
  --vant-FG-0: rgba(255, 255, 255, 0.8);
  --vant-FG-HALF: rgba(255, 255, 255, 0.6);
  --vant-FG-1: rgba(255, 255, 255, 0.5);
  --vant-FG-2: rgba(255, 255, 255, 0.3);
  --vant-FG-3: rgba(255, 255, 255, 0.1);
  --vant-FG-4: rgba(255, 255, 255, 0.15);
  --vant-RED: #fa5151;
  --vant-ORANGE: #c87d2f;
  --vant-YELLOW: #cc9c00;
  --vant-GREEN: #74a800;
  --vant-LIGHTGREEN: #3eb575;
  --vant-BRAND: #07c160;
  --vant-BLUE: #10aeff;
  --vant-INDIGO: #1196ff;
  --vant-PURPLE: #8183ff;
  --vant-WHITE: rgba(255, 255, 255, 0.8);
  --vant-LINK: #7d90a9;
  --vant-TEXTGREEN: #259c5c;
  --vant-FG: #fff;
  --vant-BG: #000;
  --vant-TAG-TEXT-ORANGE: rgba(250, 157, 59, 0.6);
  --vant-TAG-BACKGROUND-ORANGE: rgba(250, 157, 59, 0.1);
  --vant-TAG-TEXT-GREEN: rgba(6, 174, 86, 0.6);
  --vant-TAG-BACKGROUND-GREEN: rgba(6, 174, 86, 0.1);
  --vant-TAG-TEXT-BLUE: rgba(16, 174, 255, 0.6);
  --vant-TAG-BACKGROUND-BLUE: rgba(16, 174, 255, 0.1);
  --vant-TAG-TEXT-BLACK: rgba(255, 255, 255, 0.5);
  --vant-TAG-BACKGROUND-BLACK: rgba(255, 255, 255, 0.05);
  --van-black: var(--vant-FG-0);
  --van-gray-1: #323233;
  --van-gray-2: #646566;
  --van-gray-3: var(--vant-FG-3);
  --van-gray-4: #c8c9cc;
  --van-gray-5: #dcdee0;
  --van-gray-6: var(--vant-FG-1);
  --van-gray-7: #f2f3f5;
  --van-gray-8: #f7f8fa;
  --van-primary-color: var(--vant-BLUE);
  --van-success-color: var(--vant-BRAND);
  --van-danger-color: var(--vant-RED);
  --van-warning-color: var(--vant-YELLOW);
  --van-text-color: var(--vant-FG-0);
  --van-active-color: rgba(255, 255, 255, 0.126);
  --van-active-opacity: 0.8;
  --van-background-color: var(--vant-BG-0);
  --van-background-color-light: var(--vant-BG-1);
  --van-text-link-color: var(--vant-LINK);
  --van-border-color: var(--vant-FG-3);
}
html.dark {
  --van-button-default-color: var(--vant-FG-0);
  --van-button-default-background-color: transparent;
  --van-button-default-border-color: var(--vant-FG-0);
  --van-button-plain-background-color: transparent;
}
html.dark {
  --van-cell-background-color: var(--vant-BG-2);
  --van-cell-group-background-color: var(--vant-BG-2);
}
html.dark .van-cell__value--alone {
  color: var(--vant-FG-0);
}
html.dark {
  --van-popup-background-color: var(--vant-BG-1);
}
html.dark {
  --van-toast-background-color: var(--vant-BG-4);
}
html.dark {
  --van-cascader-tab-color: var(--vant-FG-0);
}
html.dark {
  --van-switch-background-color: var(--vant-BG-3);
  --van-switch-border: var(--van-border-radius-sm) solid var(--vant-FG-3);
}
html.dark {
  --van-picker-background-color: var(--vant-BG-2);
  --van-picker-option-text-color: var(--vant-FG-0);
}
html.dark .van-picker__mask {
  background-image: linear-gradient(180deg, rgba(25, 25, 25, 0.95), rgba(25, 25, 25, 0.6)), linear-gradient(0deg, rgba(25, 25, 25, 0.95), rgba(25, 25, 25, 0.6));
}
html.dark {
  --van-tabbar-background-color: #1e1e1e;
  --van-tabbar-item-active-background-color: #1e1e1e;
}
html.dark {
  --van-action-sheet-description-color: var(--vant-FG-1);
  --van-action-sheet-item-background: var(--vant-BG-2);
  --van-action-sheet-cancel-text-color: var(--vant-FG-1);
  --van-action-sheet-cancel-padding-color: var(--vant-BG-1);
}
html.dark {
  --van-dialog-background-color: var(--vant-BG-2);
}
html.dark {
  --van-tab-active-text-color: var(--vant-FG-0);
  --van-tabs-nav-background-color: var(--vant-BG-2);
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
.app-main {
  position: relative;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  overflow-y: auto;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
.demo-block__title {
  margin: 0;
  padding: 8.53333vw 4.26667vw 4.26667vw;
  color: var(--vant-FG-0);
  font-weight: normal;
  font-size: 3.73333vw;
  line-height: 4.26667vw;
}
.demo-block__card {
  margin: 3.2vw 3.2vw 0;
  overflow: hidden;
  border-radius: 2.13333vw;
}
.demo-block__title + .demo-block__card {
  margin-top: 0;
}
.demo-block:first-of-type .demo-block__title {
  padding-top: 5.33333vw;
}
.demo-block p {
  font-size: 3.73333vw;
  line-height: 1.517;
}

.iconfont {
  width: 1em;
  height: 1em;
  min-width: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
.mode-picker .iconfont {
  font-size: 5.33333vw;
  color: var(--vant-FG-0);
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
.divider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 3.73333vw;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  background: #f0f0f0;
}
.divider,
.divider-vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  width: 1px;
  height: 0.9em;
  margin: 0 2.13333vw;
  vertical-align: middle;
}
.divider-horizontal {
  display: block;
  clear: both;
  width: 100%;
  min-width: 100%;
  height: 1px;
  margin: 6.4vw 0;
}
.divider-with-text {
  display: table;
  margin: 4.26667vw 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 4.26667vw;
  white-space: nowrap;
  text-align: center;
  background: transparent;
}
.divider-with-text:before,
.divider-with-text:after {
  position: relative;
  top: 50%;
  display: table-cell;
  width: 50%;
  border-top: 1px solid #f0f0f0;
  transform: translateY(50%);
  content: '';
}
.divider-inner-text {
  display: inline-block;
  padding: 0 1em;
}
.divider-dashed {
  background: none;
  border-color: #f0f0f0;
  border-style: dashed;
  border-width: 1px 0 0;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
/* safe-area */
.v-tool-bar__placeholder {
  height: calc(11.73333vw + env(safe-area-inset-bottom));
}
.v-tool-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 2.13333vw 2.13333vw 5.86667vw;
  box-shadow: 0 -1px 0.53333vw rgba(0, 0, 0, 0.03);
}
.v-tool-bar .van-button + .van-button {
  margin-left: 2.13333vw;
}
.v-tool-bar__left {
  text-align: left;
}
.v-tool-bar__center {
  text-align: center;
}
.v-tool-bar__right {
  text-align: right;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
.basic-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-wrapper {
  position: relative;
}
