
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
:root,
.van-theme-ligtht {
  --text-secondary: rgba(0, 0, 0, 0.6);
  --bg-color-page: #f5f5f5;
}
.van-theme-dark {
  --text-secondary: hsla(0, 0%, 100%, 0.55);
  --bg-color-page: #242424;
}
.van-theme-dark img {
  filter: brightness(0.85);
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: 500;
}
.text-primary {
  color: #74a5e7;
}
.text-text {
  color: #2e2f30;
}
.text-l {
  color: #797d82;
}
.text-ll {
  color: #bdc0c5;
}
.text-lll {
  color: #d2d6dc;
}
.text-primary {
  color: #74a5e7;
}
.text-success {
  color: #b8cb50;
}
.text-danger {
  color: #ff8462;
}
.text-warning {
  color: #fab646;
}
.text-default {
  color: #baa27a;
}
.text-12 {
  font-size: 3.2vw;
}
.text-14 {
  font-size: 3.73333vw;
}
.text-16 {
  font-size: 4.26667vw;
}
.box-shadow {
  border-radius: 1.06667vw;
}
.box-shadow.base {
  box-shadow: 0 0.53333vw 1.06667vw rgba(0, 0, 0, 0.12), 0 0 1.6vw rgba(0, 0, 0, 0.04);
}
.box-shadow.light {
  box-shadow: 0 0.53333vw 3.2vw 0 rgba(0, 0, 0, 0.1);
}
.box-shadow.shadow-1-down {
  box-shadow: 0 1px 0.53333vw -0.53333vw rgba(0, 0, 0, 0.16), 0 0.8vw 1.6vw 0px rgba(0, 0, 0, 0.12), 0 1.33333vw 3.2vw 1.06667vw rgba(0, 0, 0, 0.09);
}
.box-shadow.shadow-2-down {
  box-shadow: 0 0.8vw 1.6vw -1.06667vw rgba(0, 0, 0, 0.12), 0 1.6vw 4.26667vw 0px rgba(0, 0, 0, 0.08), 0 2.4vw 7.46667vw 2.13333vw rgba(0, 0, 0, 0.05);
}
.box-shadow.shadow-3-down {
  box-shadow: 0 1.6vw 4.26667vw -2.13333vw rgba(0, 0, 0, 0.08), 0 2.4vw 7.46667vw 0px rgba(0, 0, 0, 0.05), 0 3.2vw 12.8vw 4.26667vw rgba(0, 0, 0, 0.03);
}
.bg-white {
  background-color: #fff;
}
.bg-primary {
  background-color: #74a5e7;
  color: #fff;
}
.bg-primary {
  background-color: #74a5e7;
  color: #fff;
}
.bg-success {
  background-color: #b8cb50;
  color: #fff;
}
.bg-danger {
  background-color: #ff8462;
  color: #fff;
}
.bg-warning {
  background-color: #fab646;
  color: #fff;
}
.bg-default {
  background-color: #baa27a;
  color: #fff;
}
.tap-active {
  position: relative;
}
.tap-active::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #000;
  border: inherit;
  border-color: #000;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  opacity: 0;
  content: ' ';
}
.tap-active:active::before {
  opacity: 0.1;
}
/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
/*fade*/
/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.28s;
}
.fade-transform-enter {
  opacity: 0;
  transform: translateX(-8vw);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(8vw);
}
/*fade-transform*/
/*slide-left,slide-right*/
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(8vw, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-8vw, 0);
}
/*slide-left,slide-right*/
body {
  line-height: 1.5715;
  font-size: 3.73333vw;
  color: var(--text-secondary);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--bg-color-page);
}
label {
  font-weight: 400;
}
html {
  height: 100%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a:focus,
a:active {
  outline: none;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
div:focus {
  outline: none;
}
.error-page {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
.error-page .inner {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.error-page .inner .title {
  color: #434e59;
  font-size: 18.13333vw;
  font-weight: 600;
}
.error-page .inner .info {
  color: rgba(0, 0, 0, 0.45);
  font-size: 4.8vw;
  margin-bottom: 4.26667vw;
}
.divider-wrapper {
  padding: 4.26667vw 21.33333vw;
}
.main-container {
  margin-top: 16vw;
  padding: 0 2.66667vw;
}
.page-container {
  padding: 0 2.66667vw;
}
.page-container.padded {
  padding: 2.66667vw;
}
.cell-group-title {
  padding: 2.66667vw 4vw 1.6vw;
  color: #999;
  font-size: 3.73333vw;
}
.btn-wrapper {
  width: 100%;
  background-color: #fff;
}
.btn-wrapper.fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.btn-wrapper.padded {
  padding: 4.26667vw;
}
.btn-wrapper.padded-mini {
  padding: 2.13333vw 4.26667vw;
}
.btn-wrapper.tool-bar {
  background-color: #fff;
  padding: 2.13333vw;
  text-align: right;
}
.btn-wrapper .van-button + .van-button {
  margin-left: 2.13333vw;
}
.cell-container {
  background-color: #fff;
  margin: 0 2.66667vw;
}
.cell-container.cell-container {
  margin-top: 2.66667vw;
}
.cell-container .weui-cells:after,
.cell-container .weui-cells:before {
  border: 0;
}
code {
  border-radius: 1.06667vw;
  padding: 4.26667vw;
  position: relative;
  display: block;
  font-size: 3.2vw;
  font-weight: 400;
  overflow-x: auto;
  line-height: 5.86667vw;
  word-break: break-all;
  white-space: pre-wrap;
  color: #455a64;
  font-family: Consolas, Menlo, Courier, monospace;
  background: #f7f7f7;
}
code + code {
  margin-top: 3.2vw;
}
.block {
  height: 12.26667vw;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
.app-main {
  position: relative;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  overflow-y: auto;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
.demo-block__title {
  margin: 0;
  padding: 8.53333vw 4.26667vw 4.26667vw;
  color: var(--vant-FG-0);
  font-weight: normal;
  font-size: 3.73333vw;
  line-height: 4.26667vw;
}
.demo-block__card {
  margin: 3.2vw 3.2vw 0;
  overflow: hidden;
  border-radius: 2.13333vw;
}
.demo-block__title + .demo-block__card {
  margin-top: 0;
}
.demo-block:first-of-type .demo-block__title {
  padding-top: 5.33333vw;
}
.demo-block p {
  font-size: 3.73333vw;
  line-height: 1.517;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
.mode-picker {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
.mode-picker .iconfont {
  font-size: 5.33333vw;
  color: var(--vant-FG-0);
}

.iconfont {
  width: 1em;
  height: 1em;
  min-width: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
.divider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 3.73333vw;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  background: #f0f0f0;
}
.divider,
.divider-vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  width: 1px;
  height: 0.9em;
  margin: 0 2.13333vw;
  vertical-align: middle;
}
.divider-horizontal {
  display: block;
  clear: both;
  width: 100%;
  min-width: 100%;
  height: 1px;
  margin: 6.4vw 0;
}
.divider-with-text {
  display: table;
  margin: 4.26667vw 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 4.26667vw;
  white-space: nowrap;
  text-align: center;
  background: transparent;
}
.divider-with-text:before,
.divider-with-text:after {
  position: relative;
  top: 50%;
  display: table-cell;
  width: 50%;
  border-top: 1px solid #f0f0f0;
  transform: translateY(50%);
  content: '';
}
.divider-inner-text {
  display: inline-block;
  padding: 0 1em;
}
.divider-dashed {
  background: none;
  border-color: #f0f0f0;
  border-style: dashed;
  border-width: 1px 0 0;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
/* safe-area */
.v-tool-bar__placeholder {
  height: calc(11.73333vw + env(safe-area-inset-bottom));
}
.v-tool-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 2.13333vw 2.13333vw 5.86667vw;
  box-shadow: 0 -1px 0.53333vw rgba(0, 0, 0, 0.03);
}
.v-tool-bar .van-button + .van-button {
  margin-left: 2.13333vw;
}
.v-tool-bar__left {
  text-align: left;
}
.v-tool-bar__center {
  text-align: center;
}
.v-tool-bar__right {
  text-align: right;
}
/* safe-area */
/* color */
/* text */
/* font */
/* font-weight */
/* gutter */
/* shadow @antd4.0 https://ant.design/docs/spec/shadow-cn */
.basic-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-wrapper {
  position: relative;
}
