:root,
.van-theme-ligtht {
  --text-secondary: rgba(0, 0, 0, .6);
  --bg-color-page: #f5f5f5;
}

.van-theme-dark {
  --text-secondary: hsla(0, 0%, 100%, .55);
  --bg-color-page: #242424;
}

.van-theme-dark img {
  filter: brightness(.85)
}